@layer components {
	.backend-html {
		body {
			@apply bg-bg text-body min-h-screen;

			.backend-sidebar-inner {
				@apply relative lg:sticky w-full shadow-none px-1 lg:px-2 w-full lg:w-60 translate-x-0 top-0 left-0 z-10;
				@apply bg-light/65 opacity-100;
				border-top-right-radius: 0;

				.backend-sidebar-body {
					@apply justify-start;
				}

				+.backend-main {
					border-top-left-radius: 0;
				}
			}
		}
	}

	.section-xl {
		@apply px-0 flex flex-col;
	}

	.backend-header {
		@apply shrink-0 h-14 lg:h-16 w-full border-b border-default-200 lg:border-default-100 dark:border-white/5 bg-white/80 dark:bg-default-950/80 backdrop-blur-xl fixed lg:relative top-0 flex items-center justify-between px-2 lg:pl-6 lg:pr-4;
		z-index: 50;
	}

	.kbd-hint {
		@apply text-sm font-medium text-default-500 dark:text-default-400 rounded shadow-2xs shadow-default-500/50;
		@apply hidden lg:flex ml-1.5 bg-white px-1 py-0.5;
		@apply border border-default-100;
	}

	.backend-header-logo {
		@apply flex items-center gap-2 text-lg font-bold tracking-tight text-slate-900 dark:text-white;
		@apply py-1 pl-1 pr-4 border border-transparent hover:border-default-500/40 lg:-ml-3 max-w-[300px];
		border-radius: calc(var(--btn-radius) * 1.5);
	}

	.backend-header-icon {
		@apply size-8 rounded-lg bg-gradient-to-br from-brand-400 to-brand-600 flex items-center justify-center text-white shadow-lg shadow-brand-500/20;
	}

	.backend-header-user {
		@apply flex items-center gap-3 pl-1 pr-2 py-1 rounded-lg border border-default-200 bg-white/50 hover:bg-default-100 dark:border-default-800 dark:bg-default-900/50 dark:hover:bg-default-800 transition-colors;
	}

	/* Main Wrapper (Sidebar + Content) */
	.backend-wrapper {
		@apply flex flex-col lg:flex-row mt-14 lg:mt-0;
	}

	.backend-no-sidebar {
		aside {
			@apply !hidden;
		}

		.backend-sidebar-inner {
			border-top-left-radius: 0;
		}
	}

	.backend-hamburguer {
		@apply lg:hidden -ml-2 p-2 text-default-500 hover:text-default-900 dark:text-default-400 dark:hover:text-white;
	}

	/* Sidebar */
	.backend-sidebar {
		@apply absolute lg:sticky top-6 lg:top-0 left-6.5 lg:left-0 w-76 lg:w-64 shrink-0 bg-white/95 lg:bg-white/30 dark:bg-default-950/60 backdrop-blur-md !flex lg:flex flex-col border-r border-slate-100 dark:border-white/5 transition-transform duration-400 delay-200;
		@apply max-h-[calc(100vh-2.5rem)] lg:h-[calc(100vh-4rem)];
		@apply z-[100] lg:z-10 shadow-border lg:shadow-none;
		@apply px-2 lg:px-3 space-y-1 pt-1 lg:pt-0;
		--box-radius: calc(var(--btn-radius) * 3);
		border-radius: var(--box-radius);
		/* Mobile Position */
		@apply -translate-x-[110%] lg:translate-x-0 opacity-0 lg:opacity-100;

		&.backend-sidebar-active {
			@apply translate-x-0 opacity-100;
		}

		.btn-close {
			@apply lg:hidden absolute top-1.5 right-1.5 p-2 btn-transparent z-50;
			border-radius: calc(var(--btn-radius) * 1.6);
		}
	}

	.backend-sidebar-body {
		@apply flex flex-col justify-between pt-6 pb-2 overflow-y-auto w-full h-full no-scrollbar;
		border-radius: inherit;
	}

	.backend-sidebar-backdrop {
		@apply fixed inset-0 bg-white/50 dark:bg-black/70 lg:hidden backdrop-blur-sm transition-opacity;
		z-index: 90;
	}

	.backend-sidebar-label {
		@apply px-3 text-xs font-bold text-default-500 dark:text-default-500 uppercase tracking-widest mb-2;
	}

	.backend-sidebar-item {
		@apply flex items-center gap-3 px-3 py-2 font-medium text-default-600 hover:text-default-900 hover:bg-default-100 dark:text-default-300 dark:hover:bg-white/5 dark:hover:text-white transition-all;
		font-size: 14.88px;
		border-radius: min(20px, calc(var(--btn-radius) * 1.15));

		svg {
			@apply size-5 text-default-400 dark:text-default-500 transition-colors;
			@apply group-hover:text-brand-500 dark:group-hover:text-brand-400;
		}

		&.sidebar-active {
			@apply bg-brand-50 text-brand-700 border-brand-200 dark:bg-brand-500/10 dark:text-brand-300 border dark:border-brand-400/40;

			svg {
				@apply text-default-400 dark:text-default-500;
			}
		}
	}

	.badge-letter,
	.badge-letter-lg {
		@apply border-2 flex items-center justify-center;
		width: auto;
		aspect-ratio: 1 / 1 !important;
	}

	.badge-letter {
		border-radius: calc((var(--btn-radius) / var(--font-size)) * 1.05em);
		font-size: 1.1em;
		height: 1.3em;
		font-weight: 700;
	}

	.badge-letter-lg {
		border-radius: calc((var(--btn-radius) / var(--font-size)) * 0.8em);
		font-size: 0.8em;
		height: 1.3em;
		font-weight: 800;
		padding-left: 1px;
		;
	}

	/* Sidebar Scrollbar Customization */
	.backend-sidebar-body::-webkit-scrollbar {
		width: 5px;
	}

	.backend-sidebar-body::-webkit-scrollbar-track {
		background: transparent;
	}

	.backend-sidebar-body::-webkit-scrollbar-thumb {
		background: #334155;
		border-radius: 10px;
	}

	/* Main Content Area */
	.backend-main {
		@apply flex-1 w-full px-4 py-6 lg:p-8 lg:p-9 space-y-10 bg-light/20 lg:rounded-2xl bg-radial-[at_0%_0%] from-brand-500/10 dark:from-brand-500/20 to-transparent to-[70px] lg:to-[300px];
	}

	hr {
		@apply h-px bg-default-300/50 dark:bg-default-800/50 my-10;
		border: none;
	}


	/* BREADCRUMBS */
	.breadcrumbs {
		@apply flex items-center gap-1.5 max-lg:hidden mb-5 px-1 -mt-4;

		a,
		span,
		p {
			@apply font-mono text-[0.75rem]/6 font-medium tracking-widest text-pretty uppercase text-default-500 dark:text-default-400 transition-colors opacity-90;
		}

		p {
			@apply opacity-70;
		}

		a {
			@apply hover:text-default-950 dark:hover:text-white;
		}

		> :not(:last-child)::after {
			content: "/";
			@apply text-default-400 select-none font-mono text-[0.75rem]/6 font-medium tracking-widest text-pretty uppercase ml-2;
		}
	}

	h1 {
		@apply flex items-center gap-1 md:gap-2;
	}
}