@layer base {
	.bg-frosted {
		@apply bg-white/55 dark:bg-default-900/55;
		@apply border border-white/80 dark:border-white/20;
	}
}

@utility bg-frosted {
	@apply backdrop-blur-lg backdrop-saturate-150 shadow-lg;
}

@utility shadow-border {
	box-shadow: 0px 0px 4px 1px color-mix(in srgb, var(--color-dark) 25%, transparent),
		0px 0px 0px var(--shadow-size, 0.8rem) color-mix(in srgb, var(--color-white) 25%, transparent),
		0px 0px 58px -10px color-mix(in srgb, var(--tw-shadow-color, var(--color-default-300)) 50%, transparent);

	&::before {
		@apply absolute pointer-events-none -z-1 border border-black/10 dark:bg-black/30;
		content: "";
		inset: calc(-1 * var(--shadow-size, 0.8rem));
		border-radius: calc(var(--box-radius) * 1.6);
	}

	@variant dark {
		box-shadow: 0px 0px 4px 1px color-mix(in srgb, var(--color-dark) 25%, transparent), 0px 0px 0px var(--shadow-size, 0.8rem) color-mix(in srgb, var(--color-light) 7%, transparent), 0px 0px 60px -14px color-mix(in srgb, var(--tw-shadow-color, var(--color-brand)) 50%, transparent);

		&::before {
			border: 1px solid color-mix(in srgb, var(--tw-shadow-color, var(--color-brand)) 10%, #ffffff15);
		}
	}
}

@utility shadow-c {
	box-shadow: 0px 0px 58px -15px var(--tw-shadow-color, var(--color-brand));
	transition: box-shadow 0.8s ease-in-out;
}

@utility shadow-b {
	box-shadow: 0px 22px 58px -25px var(--tw-shadow-color, var(--color-brand));
	transition: box-shadow 0.8s ease-in-out;
}

@utility shadow-none {
	box-shadow: none;

	&::before {
		content: none;
	}
}


@layer component {
	.hover-zoom {
		@apply hover-touch:scale-103 transition-all will-change-transform;
	}

	.bg-zoom {
		transition: background-size .3s ease-in-out;
		background-size: 100%;

		&:hover {
			background-size: var(--distance, 106%);
		}
	}

	.bg-zoom-out {
		transition: background-size .3s ease-in-out;
		background-size: var(--distance, 106%);

		&:hover {
			background-size: 100%;
		}
	}

	.bg-scroll {
		transition: background-position 0.5s ease-in-out;
		background-position: center calc(50% - 30px);
	}

	.hover-bg-scroll {
		transition: background-position 0.5s ease-in-out, background-size 0.5s ease-in-out;
		background-size: 100%;
		background-position: center;

		&:hover {
			background-position: center calc(50% - 30px);
		}
	}

	.animate-fade-in {
		opacity: 0;
		animation: fade-in 1s cubic-bezier(0.4, 0, 0.6, 1) var(--delay, 0s) forwards;
	}

	.animate-fade-out {
		animation: fade-in 1s cubic-bezier(0.4, 0, 0.6, 1) var(--delay, 0s) forwards;
	}

	.gradient-border {
		@apply relative z-0;

		&:before {
			@apply absolute z-[-1] -inset-px p-px from-brand to-default-300/20;
			content: "";
			border-radius: inherit;
			background: linear-gradient(170deg,
					var(--tw-gradient-from) 0%,
					var(--tw-gradient-to) 25%);
			-webkit-mask: linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
		}
	}

	.carousel-browser {
		@apply relative flex w-full no-scrollbar overflow-y-visible overflow-x-scroll box-border;
		scroll-snap-type: x mandatory;
		/*scroll-padding: 0 24px;*/
		-webkit-overflow-scrolling: touch;
		overscroll-behavior-inline: contain;

		&:after {
			content: ' ';
			flex: 0 0 auto;
			width: 10px;
		}

		.w-full {
			@apply basis-full grow-0 shrink-0;
		}

		.carousel-item {
			flex: 0 0 auto;
			transition: transform 0.4s ease;
			transform: scale(0.95);

			@variant hover-touch {
				transform: scale(0.98);
			}

			&.active {
				transform: scale(1) !important;
			}
		}

		&.carousel-browser-fade {
			@apply !overflow-hidden;
			scroll-snap-type: none !important;
			overflow-x: hidden !important;

			.carousel-item {
				@apply absolute size-full -z-1;
				opacity: 0;
				pointer-events: none;
				transition: transform 1s ease;

				&.active {
					animation: fade-in var(--speed, 1.5s) cubic-bezier(0.4, 0, 0.6, 1) 0s forwards;
				}

				&:not(.active) {
					animation: fade-out 0.5s linear 0s forwards;
				}
			}

		}
	}

	.carousel-linear {
		@apply flex justify-around w-full no-scrollbar overflow-y-visible overflow-x-hidden box-border;

		&::after {
			right: 0;
			transform: rotateZ(180deg);
		}

		&::before {
			left: 0;
		}

		.carousel-wrapper {
			display: flex;
			flex: 0 0 auto;
			animation: scroll var(--scroll-speed, 20s) linear infinite;
			padding: 0 0.2em;

			&:hover {
				animation-play-state: paused;
			}
		}
	}
}

@utility fade-edges {
	mask: linear-gradient(to right, transparent, black var(--fade-width, 12%), black calc(100% - var(--fade-width, 12%)), transparent);

	@media (width >=64rem) {
		mask: linear-gradient(to right, transparent, black var(--fade-width-lg, 15%), black calc(100% - var(--fade-width-lg, 15%)), transparent);
	}
}

@layer components {
	.bg-facebook {
		background-color: #3b57a1;
	}

	.text-facebook {
		color: #3b57a1;
	}

	.bg-twitter {
		background-color: #4aa0eb;
	}

	.text-twitter {
		color: #4aa0eb;
	}

	.bg-x {
		background-color: #000000;
	}

	.text-x {
		color: #000000;
	}

	.bg-google {
		background-color: #D93D2C;
	}

	.text-google {
		color: #D93D2C;
	}

	.bg-whatsapp {
		background-color: #35B83F;
	}

	.text-whatsapp {
		color: #35B83F;
	}

	.bg-linkedin {
		background-color: #0B66C2;
	}

	.text-linkedin {
		color: #0B66C2;
	}

	.bg-instagram {
		background-color: #e4405f;
	}

	.text-instagram {
		color: #e4405f;
	}

	.bg-pinterest {
		background-color: #bd081c;
	}

	.text-pinterest {
		color: #bd081c;
	}

	.shadow-echos {
		--shadow-size: 15px;
		--shadow-x: 0px;
		--shadow-y: 0px;
		box-shadow:
			var(--shadow-x) var(--shadow-y) 0 var(--shadow-size) var(--tw-gradient-from),
			calc(var(--shadow-x) * 2) calc(var(--shadow-y) * 2) 0 calc(var(--shadow-size) * 2) color-mix(in srgb, var(--tw-gradient-from) 60%, var(--tw-gradient-to)),
			calc(var(--shadow-x) * 3) calc(var(--shadow-y) * 3) 0 calc(var(--shadow-size) * 3) color-mix(in srgb, var(--tw-gradient-from) 40%, var(--tw-gradient-to)),
			calc(var(--shadow-x) * 3) calc(var(--shadow-y) * 3) 30px calc(var(--shadow-size) * 2.6) var(--tw-gradient-to),
			calc(var(--shadow-x) * 4) calc(var(--shadow-y) * 4) 0 calc(var(--shadow-size) * 4) var(--tw-gradient-to);

		@media (width >=64rem) {
			box-shadow:
				var(--shadow-x-lg, var(--shadow-x)) var(--shadow-y-lg, var(--shadow-y)) 0 var(--shadow-size-lg, var(--shadow-size)) var(--tw-gradient-from),
				calc(var(--shadow-x-lg, var(--shadow-x)) * 2) calc(var(--shadow-y-lg, var(--shadow-y)) * 2) 0 calc(var(--shadow-size-lg, var(--shadow-size)) * 2) color-mix(in srgb, var(--tw-gradient-from) 60%, var(--tw-gradient-to)),
				calc(var(--shadow-x-lg, var(--shadow-x)) * 3) calc(var(--shadow-y-lg, var(--shadow-y)) * 3) 0 calc(var(--shadow-size-lg, var(--shadow-size)) * 3) color-mix(in srgb, var(--tw-gradient-from) 40%, var(--tw-gradient-to)),
				calc(var(--shadow-x-lg, var(--shadow-x)) * 3) calc(var(--shadow-y-lg, var(--shadow-y)) * 3) 30px calc(var(--shadow-size-lg, var(--shadow-size)) * 2.6) var(--tw-gradient-to),
				calc(var(--shadow-x-lg, var(--shadow-x)) * 4) calc(var(--shadow-y-lg, var(--shadow-y)) * 4) 0 calc(var(--shadow-size-lg, var(--shadow-size)) * 4) var(--tw-gradient-to);
		}
	}
}

@keyframes toast-pop {
	10% {
		opacity: 0;
		scale: 0.90;
	}

	70% {
		scale: 1.02;
	}

	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes scroll {
	0% {
		opacity: 0;
		transform: translateX(-5%);
	}

	3% {
		opacity: 1;
	}

	97% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(-95%);
	}
}

@keyframes dropdown {
	from {
		opacity: 0;
		transform: translateY(-7px) scale(0.94);
	}

	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}