@source "../../public/assets/js";
@source "../../resources/js";
@source "../../resources/views";
@source "../../vendor/maksuco/bizhelpers";
@source "../../views";
@source "../../assets/js";
@source "../../webcms";
@variant dark (&:where(.dark, .dark *));
@custom-variant hover-touch (&:hover);

@theme {
	--color-brand: #5148E3;
	--color-brand-50: oklch(from var(--color-brand) 0.95 calc(c * 0.2) h);
	--color-brand-100: oklch(from var(--color-brand) 0.91 calc(c * 0.45) h);
	--color-brand-200: oklch(from var(--color-brand) calc(l + 0.35) calc(c * 0.85) h);
	--color-brand-300: oklch(from var(--color-brand) calc(l + 0.26) calc(c * 0.95) h);
	--color-brand-400: oklch(from var(--color-brand) calc(l + 0.1) c h);
	--color-brand-500: var(--color-brand);
	--color-brand-600: oklch(from var(--color-brand) calc(l - 0.05) c h);
	--color-brand-700: oklch(from var(--color-brand) calc(l - 0.10) c h);
	--color-brand-800: oklch(from var(--color-brand) calc(l - 0.15) c h);
	--color-brand-900: oklch(from var(--color-brand) calc(l - 0.20) c h);
	--color-brand-950: oklch(from var(--color-brand) calc(l - 0.25) c h);
	--color-default-50: var(--color-slate-50);
	--color-default-100: var(--color-slate-100);
	--color-default-200: var(--color-slate-200);
	--color-default-300: var(--color-slate-300);
	--color-default-400: var(--color-slate-400);
	--color-default-500: var(--color-slate-500);
	--color-default-600: var(--color-slate-600);
	--color-default-700: var(--color-slate-700);
	--color-default-800: var(--color-slate-800);
	--color-default-900: var(--color-slate-900);
	--color-default-950: var(--color-slate-950);
	--color-light: color-mix(in oklch, color-mix(in oklch, var(--color-brand-400) 25%, var(--color-default-400)) 14%, white 95%);
	--color-dark: color-mix(in oklch, var(--color-brand) 10%, var(--color-default-950));
	--color-bg: oklch(from var(--color-brand) 0.997 0.001 h);
	--color-body: var(--color-default-500);
	--color-label: var(--color-default-500);
	--font-size: 16px;
	--text-xxs: 0.68rem;
	--heading-font: var(--font-sans);
	--heading-weight: 800;
	--breakpoint-3xl: 110rem;
	--breakpoint-4xl: 120rem;
	--mobile-break: 48rem;
	/* --btn-border: transparent; */
	--btn-radius: 6px;
	--box-radius: 22px;
	--box-radius-base: 22px;
	--mt-md: 12;
	--plyr-color-main: var(--color-brand);
}

@import "./utilities.css";
@import "./text.css";
@import "./btn.css";
@import "./box.css";
@import "./form.css";
@import "./other.css";